<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <h1>Edit Actor</h1>
    <form action="/actors/<%= actor._id %>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%=actor.name%>" /><br />
        Age: <input type="text" name="age" value="<%=actor.age%>" /><br />
        Movie Appearances: <input type="text" name="movies" value="<%=actor.movies%>"><br />
        <input type="submit" name="" value="Submit Changes" />
    </form>

</body>

</html>